@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  background-color: #436ae5;
  color: #fff;
}

.footer-link {
  color: inherit; /* Inherit color from footer */
  transition: text-decoration 0.3s ease;
  text-decoration: none;
}

.footer-link:hover {
  color: inherit;
  text-decoration: underline;
}

/* Ensure main content has padding to prevent it from being hidden behind the fixed footer */
.containerPage {
  padding-bottom: 70px !important; /* Slightly more than the footer height to ensure content is visible */
}

.titlePage {
  margin-top: 0;
  margin-bottom: 1.4rem;
  font-weight: bold;
  text-align: center;
  font-size: 28px;
    color: #031b91; /* Orange color */
}


.mainFuturePostContent {
  /*color: #504f4f;*/
  /*display: flex;*/
  color: #F97316;
  position: relative;
  padding: 2rem;
  font-weight: 800;
  /*text-shadow: 1px 1px 1px black, 0 0 1em #101010;*/
  margin-top: 5rem;
  text-align: right;
  /*justify-content: flex-end;*/
  z-index: 2; /* Ensure content is above the overlay */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/*  background-color: rgba(0, 0, 0, 0.15); !* Semi-transparent black - lightened further *!*/
  z-index: 1;
}

.cardImageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
